@model Leticia.Models.ProjectModels.HomeModel
@{
    ViewBag.Title = "Leticia Mebel";
}

<div id="wrapper">
    <section>
        <div class="dynamicContent">
            <div style="padding-left:40px;padding-top:20px;">

                <h3>@Model.viewInfo["sofa"].ToString()</h3>
                <!--content -->
                @*<div class="boxSofas">*@

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/Sofas/big/14_big.jpg" rel="prettyPhoto[pp_gal1]" title="@Model.viewInfo["sofaMonti"].ToString()">
                            <img src="~/Images/ProjectImages/Sofas/normal/14.jpg">
                            <span></span>
                        </a>
                    </div>
                    <p class="txt">@Model.viewInfo["sofaMonti"].ToString()</p>
                </div>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/Sofas/big/1_big.jpg" rel="prettyPhoto[pp_gal1]" title="@Model.viewInfo["zurich"].ToString()">
                            <img src="~/Images/ProjectImages/Sofas/normal/1.jpg">
                            <span></span>
                        </a>
                    </div>
                    <p class="txt">@Model.viewInfo["zuricharmchair"].ToString()</p>
                </div>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/Sofas/big/2_big.jpg" rel="prettyPhoto[pp_gal1]" title="@Model.viewInfo["hamm"].ToString()">
                            <img src="~/Images/ProjectImages/Sofas/normal/2.jpg">
                            <span></span>
                        </a>
                    </div>
                    <p class="txt">@Model.viewInfo["hamm"].ToString()</p>
                </div>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/Sofas/big/3_big.jpg" rel="prettyPhoto[pp_gal1]" title="@Model.viewInfo["ergo"].ToString()">
                            <img src="~/Images/ProjectImages/Sofas/normal/3.jpg">
                            <span></span>
                        </a>
                    </div>
                    <p class="txt">@Model.viewInfo["ergothird"].ToString()</p>
                </div>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/Sofas/big/4_big.jpg" rel="prettyPhoto[pp_gal1]" title="@Model.viewInfo["aachen"].ToString()">
                            <img src="~/Images/ProjectImages/Sofas/normal/4.jpg">
                            <span></span>
                        </a>
                    </div>
                    <p class="txt">@Model.viewInfo["aachen"].ToString()</p>
                </div>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/Sofas/big/5_big.jpg" rel="prettyPhoto[pp_gal1]" title="@Model.viewInfo["teo"].ToString()">
                            <img src="~/Images/ProjectImages/Sofas/normal/5.jpg">
                            <span></span>
                        </a>
                    </div>
                    <p class="txt">@Model.viewInfo["teo"].ToString()</p>
                </div>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/Sofas/big/6_big.jpg" rel="prettyPhoto[pp_gal1]" title="@Model.viewInfo["bonn"].ToString()">
                            <img src="~/Images/ProjectImages/Sofas/normal/6.jpg">
                            <span></span>
                        </a>
                    </div>
                    <p class="txt">@Model.viewInfo["bonn"].ToString()</p>
                </div>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/Sofas/big/7_big.jpg" rel="prettyPhoto[pp_gal1]" title="@Model.viewInfo["leticia"].ToString()">
                            <img src="~/Images/ProjectImages/Sofas/normal/7.jpg">
                            <span></span>
                        </a>
                    </div>
                    <p class="txt">@Model.viewInfo["leticia"].ToString()</p>
                </div>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/Sofas/big/8_big.jpg" rel="prettyPhoto[pp_gal1]" title="@Model.viewInfo["emi"].ToString()">
                            <img src="~/Images/ProjectImages/Sofas/normal/8.jpg">
                            <span></span>
                        </a>
                    </div>
                    <p class="txt">@Model.viewInfo["emi"].ToString()</p>
                </div>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/Sofas/big/9_big.jpg" rel="prettyPhoto[pp_gal1]" title="@Model.viewInfo["sonya"].ToString()">
                            <img src="~/Images/ProjectImages/Sofas/normal/9.jpg">
                            <span></span>
                        </a>
                    </div>
                    <p class="txt">@Model.viewInfo["sonya"].ToString()</p>
                </div>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/Sofas/big/10_big.jpg" rel="prettyPhoto[pp_gal1]" title="@Model.viewInfo["elena"].ToString()">
                            <img src="~/Images/ProjectImages/Sofas/normal/10.jpg">
                            <span></span>
                        </a>
                    </div>
                    <p class="txt">@Model.viewInfo["elena"].ToString()</p>
                </div>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/Sofas/big/11_big.jpg" rel="prettyPhoto[pp_gal1]" title="@Model.viewInfo["graz"].ToString()">
                            <img src="~/Images/ProjectImages/Sofas/normal/11.jpg">
                            <span></span>
                        </a>
                    </div>
                    <p class="txt">@Model.viewInfo["graz"].ToString()</p>
                </div>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/Sofas/big/12_big.jpg" rel="prettyPhoto[pp_gal1]" title="@Model.viewInfo["hagen"].ToString()">
                            <img src="~/Images/ProjectImages/Sofas/normal/12.jpg">
                            <span></span>
                        </a>
                    </div>
                    <p class="txt">@Model.viewInfo["hagen"].ToString()</p>
                </div>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/Sofas/big/13_big.jpg" rel="prettyPhoto[pp_gal1]" title="@Model.viewInfo["eu"].ToString()">
                            <img src="~/Images/ProjectImages/Sofas/normal/13.jpg">
                            <span></span>
                        </a>
                    </div>
                    <p class="txt">@Model.viewInfo["eu"].ToString()</p>
                </div>

                <div class="clear"></div>

                <h3>@Model.viewInfo["maintext"].ToString()</h3>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/Armchair/normal/17.jpg" rel="prettyPhoto[pp_gal1]" title="@Model.viewInfo["munich"].ToString()">
                            <img src="~/Images/ProjectImages/Armchair/big/17.jpg">
                            <span></span>
                        </a>
                    </div>
                    <p class="txt">@Model.viewInfo["munich"].ToString()</p>
                </div>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/Armchair/normal/18.jpg" rel="prettyPhoto[pp_gal1]" title="@Model.viewInfo["monti2"].ToString()">
                            <img src="~/Images/ProjectImages/Armchair/big/18.jpg">
                            <span></span>
                        </a>
                    </div>
                    <p class="txt">@Model.viewInfo["monti2"].ToString()</p>
                </div>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/Armchair/big/1_big.jpg" rel="prettyPhoto[pp_gal1]" title="@Model.viewInfo["zurich"].ToString()">
                            <img src="~/Images/ProjectImages/Armchair/normal/1_normal.jpg">
                            <span></span>
                        </a>
                    </div>
                    <p class="txt">@Model.viewInfo["zurich"].ToString()</p>
                </div>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/Armchair/normal/2.jpg" rel="prettyPhoto[pp_gal1]" title="@Model.viewInfo["ring"].ToString()">
                            <img src="~/Images/ProjectImages/Armchair/big/2.jpg">
                            <span></span>
                        </a>
                    </div>
                    <p class="txt">@Model.viewInfo["ring"].ToString()</p>
                </div>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/Armchair/normal/3.jpg" rel="prettyPhoto[pp_gal1]" title="@Model.viewInfo["nellys"].ToString()">
                            <img src="~/Images/ProjectImages/Armchair/big/3.jpg">
                            <span></span>
                        </a>
                    </div>
                    <p class="txt">@Model.viewInfo["nellys"].ToString()</p>
                </div>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/Armchair/normal/4.jpg" rel="prettyPhoto[pp_gal1]" title="@Model.viewInfo["nelly"].ToString()">
                            <img src="~/Images/ProjectImages/Armchair/big/4.jpg">
                            <span></span>
                        </a>
                    </div>
                    <p class="txt">@Model.viewInfo["nelly"].ToString()</p>
                </div>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/Armchair/normal/5.jpg" rel="prettyPhoto[pp_gal1]" title="@Model.viewInfo["ergo"].ToString()">
                            <img src="~/Images/ProjectImages/Armchair/big/5.jpg">
                            <span></span>
                        </a>
                    </div>
                    <p class="txt">@Model.viewInfo["ergo"].ToString()</p>
                </div>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/Armchair/normal/6.jpg" rel="prettyPhoto[pp_gal1]" title="@Model.viewInfo["aachensecond"].ToString()">
                            <img src="~/Images/ProjectImages/Armchair/big/6.jpg">
                            <span></span>
                        </a>
                    </div>
                    <p class="txt">@Model.viewInfo["aachensecond"].ToString()</p>
                </div>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/Armchair/normal/7.jpg" rel="prettyPhoto[pp_gal1]" title="@Model.viewInfo["monti"].ToString()">
                            <img src="~/Images/ProjectImages/Armchair/big/7.jpg">
                            <span></span>
                        </a>
                    </div>
                    <p class="txt">@Model.viewInfo["monti"].ToString()</p>
                </div>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/Armchair/normal/8.jpg" rel="prettyPhoto[pp_gal1]" title="@Model.viewInfo["retro"].ToString()">
                            <img src="~/Images/ProjectImages/Armchair/big/8.jpg">
                            <span></span>
                        </a>
                    </div>
                    <p class="txt">@Model.viewInfo["retro"].ToString()</p>
                </div>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/Armchair/normal/9.jpg" rel="prettyPhoto[pp_gal1]" title="@Model.viewInfo["carlo"].ToString()">
                            <img src="~/Images/ProjectImages/Armchair/big/9.jpg">
                            <span></span>
                        </a>
                    </div>
                    <p class="txt">@Model.viewInfo["carlo"].ToString()</p>
                </div>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/Armchair/normal/10_normal.jpg" rel="prettyPhoto[pp_gal1]" title="@Model.viewInfo["paris"].ToString()">
                            <img src="~/Images/ProjectImages/Armchair/big/10.jpg">
                            <span></span>
                        </a>
                    </div>
                    <p class="txt">@Model.viewInfo["paris"].ToString()</p>
                </div>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/Armchair/normal/11.jpg" rel="prettyPhoto[pp_gal1]" title="@Model.viewInfo["basel"].ToString()">
                            <img src="~/Images/ProjectImages/Armchair/big/11.jpg">
                            <span></span>
                        </a>
                    </div>
                    <p class="txt">@Model.viewInfo["basel"].ToString()</p>
                </div>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/Armchair/normal/12.jpg" rel="prettyPhoto[pp_gal1]" title="@Model.viewInfo["ulm"].ToString()">
                            <img src="~/Images/ProjectImages/Armchair/big/12.jpg">
                            <span></span>
                        </a>
                    </div>
                    <p class="txt">@Model.viewInfo["ulm"].ToString()</p>
                </div>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/Armchair/normal/13.jpg" rel="prettyPhoto[pp_gal1]" title="@Model.viewInfo["ergosecond"].ToString()">
                            <img src="~/Images/ProjectImages/Armchair/big/13.jpg">
                            <span></span>
                        </a>
                    </div>
                    <p class="txt">@Model.viewInfo["ergosecond"].ToString()</p>
                </div>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/Armchair/normal/14.jpeg" rel="prettyPhoto[pp_gal1]" title="@Model.viewInfo["cubo"].ToString()">
                            <img src="~/Images/ProjectImages/Armchair/big/14.jpeg">
                            <span></span>
                        </a>
                    </div>
                    <p class="txt">@Model.viewInfo["cubo"].ToString()</p>
                </div>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/Armchair/normal/15.jpeg" rel="prettyPhoto[pp_gal1]" title="@Model.viewInfo["cubosecond"].ToString()">
                            <img src="~/Images/ProjectImages/Armchair/big/15.jpeg">
                            <span></span>
                        </a>
                    </div>
                    <p class="txt">@Model.viewInfo["cubosecond"].ToString()</p>
                </div>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/Armchair/normal/16.jpeg" rel="prettyPhoto[pp_gal1]" title="@Model.viewInfo["zurich"].ToString()">
                            <img src="~/Images/ProjectImages/Armchair/big/16.jpeg">
                            <span></span>
                        </a>
                    </div>
                    <p class="txt">@Model.viewInfo["round"].ToString()</p>
                </div>

                <div class="clear"></div>

                <h3>@Model.viewInfo["maintextsecond"].ToString()</h3>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/CornerSofa/big/1.jpg" rel="prettyPhoto[pp_gal1]" title="@Model.viewInfo["letica1"].ToString()">
                            <img src="~/Images/ProjectImages/CornerSofa/normal/1_normal.jpg">
                            <span></span>
                        </a>
                    </div>
                    <p class="txt">@Model.viewInfo["letica1"].ToString()</p>
                </div>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/CornerSofa/big/2.jpg" rel="prettyPhoto[pp_gal1]" title="@Model.viewInfo["letica2"].ToString()">
                            <img src="~/Images/ProjectImages/CornerSofa/normal/2_normal.jpg">
                            <span></span>
                        </a>
                    </div>
                    <p class="txt">@Model.viewInfo["letica2"].ToString()</p>
                </div>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/CornerSofa/big/3.jpg" rel="prettyPhoto[pp_gal1]" title="@Model.viewInfo["letica3"].ToString()">
                            <img src="~/Images/ProjectImages/CornerSofa/normal/3_normal.jpg">
                            <span></span>
                        </a>
                    </div>
                    <p class="txt">@Model.viewInfo["letica3"].ToString()</p>
                </div>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/CornerSofa/big/4.jpg" rel="prettyPhoto[pp_gal1]" title="@Model.viewInfo["linz"].ToString()">
                            <img src="~/Images/ProjectImages/CornerSofa/normal/4_normal.jpg">
                            <span></span>
                        </a>
                    </div>
                    <p class="txt">@Model.viewInfo["linz"].ToString()</p>
                </div>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/CornerSofa/big/5.jpg" rel="prettyPhoto[pp_gal1]" title="@Model.viewInfo["ergosecond"].ToString()">
                            <img src="~/Images/ProjectImages/CornerSofa/normal/5_normal.jpg">
                            <span></span>
                        </a>
                    </div>
                    <p class="txt">@Model.viewInfo["ergosecond"].ToString()</p>
                </div>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/CornerSofa/big/6.jpg" rel="prettyPhoto[pp_gal1]" title="@Model.viewInfo["letica4"].ToString()">
                            <img src="~/Images/ProjectImages/CornerSofa/normal/6_normal.jpg">
                            <span></span>
                        </a>
                    </div>
                    <p class="txt">@Model.viewInfo["letica4"].ToString()</p>
                </div>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/CornerSofa/big/7.jpg" rel="prettyPhoto[pp_gal1]" title="@Model.viewInfo["letica5"].ToString()">
                            <img src="~/Images/ProjectImages/CornerSofa/normal/7_normal.jpg">
                            <span></span>
                        </a>
                    </div>
                    <p class="txt">@Model.viewInfo["letica5"].ToString()</p>
                </div>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/CornerSofa/big/8.jpg" rel="prettyPhoto[pp_gal1]" title="@Model.viewInfo["Iliyana"].ToString()">
                            <img src="~/Images/ProjectImages/CornerSofa/normal/8_normal.jpg">
                            <span></span>
                        </a>
                    </div>
                    <p class="txt">@Model.viewInfo["Iliyana"].ToString()</p>
                </div>

                <div class="gal1">
                    <div class="photo1">
                        <a href="~/Images/ProjectImages/CornerSofa/big/9.jpg" rel="prettyPhoto[pp_gal1]" title="@Model.viewInfo["Iliyana_S"].ToString()">
                            <img src="~/Images/ProjectImages/CornerSofa/normal/9_normal.jpg">
                            <span></span>
                        </a>
                    </div>
                    <p class="txt">@Model.viewInfo["Iliyana_S"].ToString()</p>
                </div>

                <div class="clear"></div>
            </div>
        </div>
    </section>
</div>


<script>
    $("a[rel^='prettyPhoto']").prettyPhoto({ animation_speed: 'normal', theme: 'dark', social_tools: false, allow_resize: true, default_width: 500, default_height: 344 });

    $('.photo1').find('span').css({ opacity: 0, marginTop: -139 });
    $('.photo1 > a').hover(function () {
        $(this).find('span').css({ opacity: 0, marginTop: -139 }).stop().animate({ opacity: 1, marginTop: 0 }, 400);
    }, function () {
        $(this).find('span').stop().animate({ opacity: 0, marginTop: 139 }, 400);
    });
</script>